<%- include('layout/header.ejs') %>
<h1><%= title%></h1>
<form method="POST" action="/login">
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Login</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="staticEmail" name="login" placeholder="login">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" name="password">
      <!---password: 333Tilla_Bola333 -->
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-sm-10">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </div>
</form>
<%- include('layout/footer.ejs') %>