<%- include('../layout/header.ejs') %>
    <h1><%= title%></h1>
    <form class="product-form" method="POST" action="/admin/types/add">
        <div class="form-controls">
            <label for="name">Type name</label>
            <input id="name" name="type">
        </div>

        <div class="form-controls">
            <button type="submit">Add</button>
        </div>
    </form>
<%- include('../layout/footer.ejs') %>